root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.{txt,cmake,fbs,cpp,hpp,c,h}]
indent_size = 4
indent_style = space

[*.{md,yml,js,json,pug,scss,sty,tex}]
indent_size = 2
indent_style = space
